/.Criterio.java._trace
/.CriterioCompuesto.java._trace
/.CriterioDeLasUltimasCalificaciones.java._trace
/.CriterioDelHandicap.java._trace
/.CriterioDelUltimoPartido.java._trace
/Criterio.java
/CriterioCompuesto.java
/CriterioDeLasUltimasCalificaciones.java
/CriterioDelHandicap.java
/CriterioDelUltimoPartido.java
