/.Jugador.java._trace
/.Partido.java._trace
/.PartidoAbierto_State.java._trace
/.PartidoConEquiposConfirmados_State.java._trace
/.PartidoState.java._trace
/Jugador.java
/Partido.java
/PartidoAbierto_State.java
/PartidoConEquiposConfirmados_State.java
/PartidoState.java
